<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computer component requester</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css" th:href="@{/bootstrap.css}">
</head>
<body class="m-5">
<h1>Options :</h1>
<div class="btn-group-lg btn-group-vertical w-25">
    <a class="btn btn-primary m-1" role="button" href="/h2">Database</a>
    <a class="btn btn-primary m-1" role="button" href="/add_component">Add new component</a>
    <a class="btn btn-primary m-1" role="button" href="/orders">Orders</a>
</div>
</body>
</html>